@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$first: #9356DC;
$second: #FF79DA;
$third: #99E2D0;
$greyText: #3a3a3a;

%btnPink {
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   width:230px;
	height:55px;
   padding:15px;
   background:linear-gradient($second, #b81ed6);
   box-shadow:inset #ffffff 0px 0px 0px 0px,grey 0px 0px 5px;
	border-color: $greyText;
	border-radius:30px;
	font-size:18px;
	color:#ffffff;
	border-color: $greyText;
   border-width:0px;
}

%how__btn {
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   width:350px;
	height:75px;
	padding:16px;
	box-shadow:#d8d8d8 1px 5px 5px;
	background:linear-gradient(white, #f0f0f0);
	border-radius:20px;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
   border-style: none;
}

%how__btn--spec {
   display: flex;
   flex-direction: row;
   text-decoration: none;
   margin-top: 30px;
   line-height: 3.5em;
   
   
}

%icon {
   padding-right: 30px;
   padding-left: 30px;
   font-size: 20px;
   color: grey;

}
  
html {
   scroll-behavior: smooth;

   a:link { 
      text-decoration:none; 
   } 

   font-family: 'Roboto', sans-serif;
}

body {
   margin: 0;
   padding: 0;
}


// Header //

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 18px;
   margin-bottom: 18px;
   
   .logo {
      align-items: center;
      margin-left: -0px ;
      max-width: 150px;
      max-height: 100px;
   }
}

// GPS //

.gps {
   display: flex;
   justify-content: center;
   align-items: center;  
   background-color: rgb(231, 231, 231);
   font-family: 'Roboto' , sans-serif;
   font-weight: bold;
   border-top: 10em;
   color: $greyText;

   .gps__City {
      margin-left: 15px;
   }
}

// WELCOME //

.book {

   background-color: rgb(247, 247, 247);
   margin-top: -20px;
   padding-bottom: 100px;
   font-family: 'Roboto', sans-serif;
   h2 {
      text-align: center;
      font-size: x-large;
      margin-top: 60px;
   }
   h3 {
      text-align: center;
      font-weight: 300;
      color: $greyText;
   }
   button {
      text-decoration: none;
      display: block;
      margin: 0 auto;
   }
   .btnPink {
      @extend %btnPink;
      
   }  
}

// MAIN //

h2 {
   margin-left: 1.1em;
}

#how {
   
   button {
   display: block;
   margin: 0 auto;
   }

   .how__btn--num {
      width: 28px; 
      line-height: 28px; 
      border-radius: 50%; 
      text-align: center; 
      font-size: 15px; 
      border: none;
      background-color: $first;
      color: white;
      position: absolute;
      left: 30px;
      margin-top: 12px;
   }

   .how__btn {
      @extend %how__btn;
      @extend %how__btn--spec;
      
      
      .how__btn--icon {
         @extend %icon;

      }
      .how_btn--num {
         left: 100px;
      }
   }
   .how__btn--3 {
      @extend %how__btn;
      @extend %how__btn--spec;
      background:linear-gradient(rgb(245, 236, 255), #f9f5ff);

      .how__btn--icon {
         @extend %icon;
         color: $first;
      }      
   }
   .how__btn--txt {
      font-weight: bold;
   }
   
}





#restau {

   .restau__card img{
      width : 360px;
      height: 236px;
    }
}

footer img {
   width : 60px;
   height: 36px;
}