@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');


// ----- Helper ----- //

// div {
//    border: 1px solid green;
// }



// --------------------- COLORS ----------------------------------------------------------------------------------------------- //
// ---------------------________------------------------------------------------------------------------------------------------ //  

$first: #9356DC;
$second: #FF79DA;
$third: #99E2D0;
$greyText: #3a3a3a;
$greyBG: rgb(247, 247, 247);
$footer : rgb(82, 82, 82);


// --------------------- CALLOUTS -------------------------------------------------------------------------------------------- // 
// ---------------______________________-------------------------------------------------------------------------------------- //  

%btnPink {
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   width:230px;
	height:55px;
   padding:15px;
   background:linear-gradient($second, #b81ed6);
   box-shadow:inset #ffffff 0px 0px 0px 0px,grey 0px 0px 5px;
	border-color: $greyText;
	border-radius:30px;
	font-size:18px;
	color:#ffffff;
	border-color: $greyText;
   border-width:0px;
      &:hover {
         background:#c9bdbd;
         background:linear-gradient(#fc69d2, #e93fb9);
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(192, 18, 192) 0px 0px 35px;
      }
}

%how__btn {
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   width: 321px;
	height:75px;
	padding:16px;
	box-shadow:#d8d8d8 1px 5px 5px;
	background:linear-gradient(white, #f0f0f0);
	border-radius:20px;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
   border-style: none;
   left: 50px;
      &:hover {
         background:linear-gradient(#fff6fc, #fddaf3);
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(161, 161, 161) 0px 0px 18px;
   }
}

%how__btn--spec {
   display: flex;
   flex-direction: row;
   text-decoration: none;
   margin-top: 30px;
   line-height: 3.5em;
}

%icon {
   padding-right: 30px;
   padding-left: 30px;
   font-size: 20px;
   color: grey;
}

%cardTxt {
   z-index: 1;
   position: absolute;
   font-size: 16px;
   color:black;
}

%menu_Course {
   .course__type {
      text-transform: uppercase;
      display:inline-block;
      position:relative;
      }
      .course__type::after {
         content:''; 
         height:3px;
         width:60%;
         background: $third;
         position:absolute;
         left:calc(10% - 10%);
         bottom:-5px;
      } 
}

%dishCards {
   .dish {
         display: flex;
         height: 50px;
         background-color: white;
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(202, 202, 202) 0px 0px 18px;
         border-radius: 15px;
         width: 340px;
         height: 65px;
         margin-top: 1em;
         overflow: hidden;
         cursor: pointer;
         animation: fade ease-in-out 700ms both;        
      }
      .dish:hover .dish__desc {
         width: 190px;
         min-width: 190px;
         }
      .dish:hover .check__icon {
      animation: iconSpin ease 700ms both;       
      transition: 2s;
      }
      .dish__desc {
      display: flex;
      flex-direction: column;
      width: 270px;
      min-width: 270px;
      background: white;
      transition: 0.6s;
         .dish__desc--text1 {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         padding-left: 11px;
         padding-top: 11px;
         font-weight: bold;
         font-size: 17px;
         }
         .dish__desc--text2 {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         padding-left: 11px;
         padding-top: 5px;
         font-size: 12px;
      }
   }
      .price {
      min-width: 60px;
      width: 60px;
      background: white;
      display: flex;
      width: 0%;
      padding-left: 15px;
      padding-top: 30px;
      font-weight: bold;
      }
      .check {
      min-width: 80px;
      width: 80px;
      background: $third;
      color: white;
      font-size: 50px;
         .check__icon {
         color: white;
         font-size: 0.5em;
         margin: 17px;
         }
      }
   }   

%new {
   color: rgb(4, 155, 62);
      font-weight: bold;
      left: 230px;
      top: 20px;
      display: inline-block;
      width: 80px;
      height: 30px;
      border: none;
      text-align: center;
      background-color: $third;
      border-radius: 10%;
      line-height: 30px;
}

%spin {
   display: inline-block;
   width: 80px;
   height: 80px;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 250px;
   left: 0;
   display:flex;
   justify-content: center;
   align-items: center;
   &:after {
      content: " ";
      display: block;
      width: 200px;
      height: 200px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #fed;
      border-color: $first transparent $second transparent;
      animation: spinner 2.2s linear ;
      opacity: 0;
    }
}


// -------------------------- KEYFRAMES ------------------------------------------------------------------------------------- //
// --------------------------___________------------------------------------------------------------------------------------- //  

@keyframes fade {
   0% {
     transform: translateY(15px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }

 @keyframes fadeIndex {
   0% {
     transform: translateY(15px);
     opacity: 0;
   }
   70% {
      transform: translateY(15px);
      opacity: 0;
    }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }

 @keyframes spinner {
   0% {
     transform: rotate(0deg);
     opacity: 0;
   }
   10% {
      transform: rotate(36deg);
      opacity: 1;
    }
    90% {
      transform: rotate(324deg);
      opacity: 1;
    }
   100% {
     transform: rotate(360deg);
     opacity:0;
   }
 }


 @keyframes iconSpin{
   0% {
     transform: rotate(0deg) ;
   }
   100% {
     transform: rotate(360deg) ;
   }
 }

  
// -------------------------- MIXINS ------------------------------------------------------------------------------------------- //
// -------------------------_________------------------------------------------------------------------------------------------- //  

 @mixin responsive($breakpoint) {

   @if $breakpoint == desk {
       @media only screen and (min-width: 1260px) { @content };
   } 
   @if $breakpoint == tab {
       @media only screen and (min-width: 1040px) { @content };
   } 
   @if $breakpoint == smal {
      @media only screen and (min-width: 400px) { @content };
  } 
}






// ------------------------------ CODE ------------------------------------------------------------------------------------------- //
// ------------------------------______------------------------------------------------------------------------------------------- //  





html {
   scroll-behavior: smooth;
   a {
      text-decoration:none!important; 
   }
   a:link { 
      text-decoration:none!important; 
   } 
   a:active {
      color: inherit;
   }
   font-family: 'Roboto', sans-serif;

   // @include responsive(desk);
   // @include responsive(tab);
}
body {
   margin: 0;
   padding: 0;
}
main{
   animation: fadeIndex ease-in-out 3000ms both;
}


// ----------- ! ! HEADER ! ! ----------- //

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 18px;
   margin-bottom: 18px;
   .logo {
      align-items: center;
      margin-left: -0px ;
      max-width: 150px;
      max-height: 100px;
   }
   .arrow {
      position: absolute;
      color: black;
      left: 10px;
      top: 23px;
      font-weight: bold;
   }
}


// ----------- ! ! SPINNER ! ! ----------- //

.spinner {
@extend %spin;
}


// ______________ INDEX ______________ //

// ----------- ! ! GPS ! ! ----------- //
// ------------- index/gps ----------- //


.gps {
   display: flex;
   justify-content: center;
   align-items: center;  
   background-color: rgb(231, 231, 231);
   font-family: 'Roboto' , sans-serif;
   font-weight: bold;
   border-top: 10em;
   color: $greyText;
   .gps__City {
      margin-left: 15px;
   }
}


// ----------- ! ! WELCOME ! ! ----------- //
// -- index/ReservationAndButtons -- //

.book {
   background-color: $greyBG;
   margin-top: -20px;
   padding-bottom: 100px;
   font-family: 'Roboto', sans-serif;
   h2 {
      text-align: center;
      font-size: x-large;
      margin-top: 60px;
   }
   h3 {
      text-align: center;
      font-weight: 300;
      color: $greyText;
   }
   button {
      text-decoration: none;
      display: block;
      margin: 0 auto;
   }
   .btnPink {
      @extend %btnPink;
   }  
}


// ----------- ! ! MAIN ! ! ----------- //

//----------------------------//
// -- Index/fonctionnement -- //

#how {
   @include responsive(desk) {
      display: flex;
      justify-content: space-around;
      margin-right: 100px;
   }
   // @include responsive(tab) {
   // display: flex;
   // justify-content: space-around;
   // margin-right: 100px;
   // }
   h2 {
      display: flex;
      justify-content: center;
      margin-left: -6.1em;
      opacity: 1;
      @include responsive(desk) {
      opacity: 0;
      }
      // @include responsive(tab) {
      //    opacity: 0;
      // }
   }
   .how__box {
      .how__btn--num {
         left: -30px;
         position:relative;
      }
      .how__btn--icon {
         @extend %icon;
         position: relative;
         left: -40px;
      }
      strong {
         position: relative;
         left: -30px;
      }
      .how__btn--3 {
      @extend %how__btn;
      @extend %how__btn--spec;
      background:linear-gradient(rgb(245, 236, 255), #f9f5ff);
         .how__btn--icon {
         @extend %icon;
         color: $first;
         }    
      }      
   }
   button {
   display: block;
   margin: 0 auto;
   }
   .how__btn--num {
      width: 28px; 
      line-height: 28px; 
      border-radius: 50%; 
      text-align: center; 
      font-size: 15px; 
      border: none;
      background-color: $first;
      color: white;
      position: absolute;
      left: 30px;
      margin-top: 12px;
   }
   .how__btn {
      @extend %how__btn;
      @extend %how__btn--spec;
   }
   .how__btn--3 {
      @extend %how__btn;
      @extend %how__btn--spec;
      background:linear-gradient(rgb(245, 236, 255), #f9f5ff);
      &:hover {
         background:linear-gradient(#fff6fc, #fddaf3);
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(161, 161, 161) 0px 0px 18px;
      }
      .how__btn--icon {
         @extend %icon;
         color: $first;
      }      
   }
   .how__btn--txt {
      font-weight: bold;
      position: relative;
      left: -40px;
   }
}

//-----------------------------//
// -- Index/RestaurantCards -- //

#restau {
   @include responsive(desk) {
      display: flex;
      flex-direction: inherit;
      justify-content: space-around;
   }
   background-color: $greyBG;
   margin-top: 70px;
   padding-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;
   h2 {
      margin-left: -7.6em;
      opacity: 1;
      @include responsive(desk) {
      opacity: 0;
      }
      @include responsive(tab) {
         opacity: 0;
         }
   }
   .restau__card {
      position: relative;
      margin-top: 25px;
     }
   .restau__card img{
      width : 320px;
      height: 206px;
      object-fit: fill;
      border-radius: 10%, 10%, 0, 0;
      line-height: 800px;
      border-top: 10px none rgb(247, 247, 247);
      border-bottom: 80px solid rgb(241, 241, 241);
      overflow: hidden;
      border-radius: 11px 11px 11px 11px;
      box-shadow: 2px 8px 8px 0px rgba(202, 202, 202, 0.75);
         &:hover {
            background:linear-gradient(#fff6fc, #fddaf3);
            box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(150, 150, 150) 0px 0px 18px;
         }
    }
    h6 {
      @extend %cardTxt;
      font-weight: lighter;
      left: 10px;
      top: 215px;
    }
    h5 {
      @extend %cardTxt;
      font-weight: bold;
      left: 10px;
      top: 200px;
    }
    .restau__card--new {
      @extend %cardTxt;
      @extend %new;
    }
    .restau__card--new__none {
      @extend %cardTxt;
      @extend %new;
      opacity: 0;
    }


//----------------------------//
// ------ Index/heart ------- //
    
    .heart {
      @extend %cardTxt;
      font-weight: bold;
      left: 280px;
      top: 235px;
      font-size: 22px;
    }
    .full{
       opacity: 0;
       color: $first;
      &:active {
         opacity: 1;
         transition: 0.3s ease-in-out;
      }
    }
}


// ______________ MENU ______________ //

//------------------------------------//
// ------- Menu/heartAndImage ------- //

.heart_M {
   @include responsive(tab) {
      margin-left: 44%;
   }
   @extend %cardTxt;
   font-weight: bold;
   left: 310px;
   top: 20px;
   font-size: 28px;
 }
 .full_M{
    opacity: 0;
    color: $first;
   &:active {
      opacity: 1;
      transition: 0.3s ease-in-out;
   }
 }
.backGround img {
   width: 375px;
   height: 200px;
   position: relative;
   z-index: 5;
   @include responsive(tab) {
      width: 750px;
      height: 440px;
      margin-left: 28%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
}

.Box {
   @include responsive(smal) {
     flex-direction: row;
   }
}

//---------------------------//
// ------- Menu/menu ------- //

.menu {
   @include responsive(tab) {
      max-width: inherit;
      height: 30em;
      justify-content: space-around;
      margin-left: -50px;
   }
   
   
   background-color: $greyBG;
   z-index: 10;
   padding-top: 25px;
   position: relative;
   top: -50px;
   border-radius: 42px 41px 0px 0px;
      .restauName {
         margin-left: 15px;
         font-family: Shrikhand;
         font-size: 25px;
         display: flex;
         @include responsive(tab) {
            margin-left: 44%;
         }
         // .heart {
         //    margin-left: 70px;
         //    margin-top: 25px;
         // }
      }
}
.course {
   @include responsive(tab) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: inherit; 
   }
   @extend %menu_Course;
   @extend %dishCards;
   margin-left: 4%;
   animation: fade ease-in-out 700ms both;
}
.course__type {
   @include responsive(tab) {
      margin-left: 80px; 
      }
}

 // ----------- ! ! FOOTER ! ! ----------- //

footer {
   @include responsive(desk) {
   }
   margin-top: 40px;
   background-color: $footer;
   padding-bottom: 10px;
   p {
   padding-top: 8px;
   color: white;
   font-family: Shrikhand;
   font-size: 25px;
   font-style: lighter;
   margin-left: 25px;
   }
   .contact {
      color: white;
   }
}

li {
   @include responsive(desk) {
      display: inline;
      justify-content: space-between;
      margin-right: 100px;
      line-height: 65px;
      }
   color: white;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: normal;
   margin-left: -15px;
   list-style: none;
   margin-top: 8px;
}




 
 