@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

// div {
//    border: 1px solid green;
// }

$first: #9356DC;
$second: #FF79DA;
$third: #99E2D0;
$greyText: #3a3a3a;
$greyBG: rgb(247, 247, 247);
$footer : rgb(82, 82, 82);

%btnPink {
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   width:230px;
	height:55px;
   padding:15px;
   background:linear-gradient($second, #b81ed6);
   box-shadow:inset #ffffff 0px 0px 0px 0px,grey 0px 0px 5px;
	border-color: $greyText;
	border-radius:30px;
	font-size:18px;
	color:#ffffff;
	border-color: $greyText;
   border-width:0px;
      &:hover {
         background:#c9bdbd;
         background:linear-gradient(#fc69d2, #e93fb9);
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(192, 18, 192) 0px 0px 35px;
      }
}
   
%how__btn {
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   width: 321px;
	height:75px;
	padding:16px;
	box-shadow:#d8d8d8 1px 5px 5px;
	background:linear-gradient(white, #f0f0f0);
	border-radius:20px;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
   border-style: none;
   left: 50px;
      &:hover {
         background:linear-gradient(#fff6fc, #fddaf3);
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(161, 161, 161) 0px 0px 18px;
   }
}

%how__btn--spec {
   display: flex;
   flex-direction: row;
   text-decoration: none;
   margin-top: 30px;
   line-height: 3.5em;
}

%icon {
   padding-right: 30px;
   padding-left: 30px;
   font-size: 20px;
   color: grey;
}

%cardTxt {
   z-index: 1;
   position: absolute;
   font-size: 16px;
   color:black;
}

%menu_Course {
   .course__type {
      text-transform: uppercase;
      display:inline-block;
      position:relative;
      }
      .course__type::after {
         content:''; 
         height:3px;
         width:60%;
         background: $third;
         position:absolute;
         left:calc(10% - 10%);
         bottom:-5px;
      } 
}

%dishCards {
   .dish {
         display: flex;
         height: 50px;
         background-color: white;
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(202, 202, 202) 0px 0px 18px;
         border-radius: 15px;
         width: 340px;
         height: 65px;
         margin-top: 1em;
         overflow: hidden;
         cursor: pointer;
         animation: fade ease-in-out 700ms both; 
      }
      .dish:hover .dish__desc {
         width: 190px;
         min-width: 190px;
         }
         
      .dish:hover .check__icon {
      transform: rotate(360deg);
      transition: 1s;
      }
      .dish__desc {
      display: flex;
      flex-direction: column;
      width: 270px;
      min-width: 270px;
      background: white;
      transition: 0.6s;
      
         .dish__desc--text1 {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         padding-left: 11px;
         padding-top: 11px;
         font-weight: bold;
         font-size: 17px;
         }
         .dish__desc--text2 {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         padding-left: 11px;
         padding-top: 5px;
         font-size: 12px;
      }
   }
      .price {
      min-width: 60px;
      width: 60px;
      background: white;
      display: flex;
      width: 0%;
      padding-left: 15px;
      padding-top: 30px;
      font-weight: bold;
      }
      .check {
      min-width: 80px;
      width: 80px;
      background: $third;
      color: white;
      font-size: 50px;
         .check__icon {
         color: white;
         font-size: 0.5em;
         }
      }
   }   
   



@keyframes fade {
   0% {
     transform: translateY(15px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }
  
//-----//

html {
   scroll-behavior: smooth;
   
   a:link { 
      text-decoration:none; 
   } 
   a:active {
      color: inherit;
   }
   font-family: 'Roboto', sans-serif;
}

body {
   margin: 0;
   padding: 0;
}

// Header //

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 18px;
   margin-bottom: 18px;

   .logo {
      align-items: center;
      margin-left: -0px ;
      max-width: 150px;
      max-height: 100px;
   }
}

// GPS //

.gps {
   display: flex;
   justify-content: center;
   align-items: center;  
   background-color: rgb(231, 231, 231);
   font-family: 'Roboto' , sans-serif;
   font-weight: bold;
   border-top: 10em;
   color: $greyText;

   .gps__City {
      margin-left: 15px;
   }
}

// WELCOME //

.book {
   background-color: $greyBG;
   margin-top: -20px;
   padding-bottom: 100px;
   font-family: 'Roboto', sans-serif;
   h2 {
      text-align: center;
      font-size: x-large;
      margin-top: 60px;
   }
   h3 {
      text-align: center;
      font-weight: 300;
      color: $greyText;
   }
   button {
      text-decoration: none;
      display: block;
      margin: 0 auto;
   }
   .btnPink {
      @extend %btnPink;
   }  
}

// MAIN //

#how {

   h2 {
      display: flex;
      justify-content: center;
      margin-left: -6.1em;
   }

   .how__box {

      .how__btn--num {
         left: -30px;
         position:relative;
      }
      .how__btn--icon {
         @extend %icon;
         position: relative;
         left: -40px;
      }
      strong {
         position: relative;
         left: -30px;
      }
      .how__btn--3 {
      @extend %how__btn;
      @extend %how__btn--spec;
      background:linear-gradient(rgb(245, 236, 255), #f9f5ff);

         .how__btn--icon {
         @extend %icon;
         color: $first;
         }    
      }      
   }
   
   button {
   display: block;
   margin: 0 auto;
   }
   .how__btn--num {
      width: 28px; 
      line-height: 28px; 
      border-radius: 50%; 
      text-align: center; 
      font-size: 15px; 
      border: none;
      background-color: $first;
      color: white;
      position: absolute;
      left: 30px;
      margin-top: 12px;
   }
   .how__btn {
      @extend %how__btn;
      @extend %how__btn--spec;
   }
   .how__btn--3 {
      @extend %how__btn;
      @extend %how__btn--spec;
      background:linear-gradient(rgb(245, 236, 255), #f9f5ff);

      &:hover {
         background:linear-gradient(#fff6fc, #fddaf3);
         box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(161, 161, 161) 0px 0px 18px;
      }

      .how__btn--icon {
         @extend %icon;
         color: $first;
      }      
   }
   .how__btn--txt {
      font-weight: bold;
      position: relative;
      left: -40px;
   }
}

#restau {
   background-color: $greyBG;
   margin-top: 70px;
   padding-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;

   h2 {
      margin-left: -7.6em;
   }
   
   .restau__card {
      position: relative;
      margin-top: 25px;
     }
   .restau__card img{
      width : 320px;
      height: 206px;
      object-fit: fill;
      border-radius: 10%, 10%, 0, 0;
      line-height: 800px;
      border-top: 10px none rgb(247, 247, 247);
      border-bottom: 80px solid rgb(241, 241, 241);
      overflow: hidden;
      border-radius: 11px 11px 11px 11px;
      box-shadow: 2px 8px 8px 0px rgba(202, 202, 202, 0.75);
         &:hover {
            background:linear-gradient(#fff6fc, #fddaf3);
            box-shadow:inset #ffffff 0px 0px 0px 0px,rgb(150, 150, 150) 0px 0px 18px;
      }
    }
    h6 {
      @extend %cardTxt;
      font-weight: lighter;
      left: 10px;
      top: 215px;
    }

    //coeur //
    
    .heart {
      @extend %cardTxt;
      font-weight: bold;
      left: 280px;
      top: 235px;
      font-size: 22px;
    }
    .full{
       opacity: 0;
       color: $first;
      &:active {
         opacity: 1;
         transition: 0.3s ease-in-out;
      }
    }
    h5 {
      @extend %cardTxt;
      font-weight: bold;
      left: 10px;
      top: 200px;
    }
    .restau__card--new {
      @extend %cardTxt;
      color: rgb(4, 155, 62);
      font-weight: bold;
      left: 230px;
      top: 20px;
      display: inline-block;
      width: 80px;
      height: 30px;
      border: none;
      text-align: center;
      background-color: $third;
      border-radius: 10%;
      line-height: 30px;
    }
}

footer {
   margin-top: 40px;
   background-color: $footer;
   padding-bottom: 10px;

   p {
   padding-top: 8px;
   color: white;
   font-family: Shrikhand;
   font-size: 25px;
   font-style: lighter;
   margin-left: 25px;
   }
   .contact {
      color: white;
   }
}

   li {
   color: white;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: normal;
   margin-left: -15px;
   list-style: none;
   margin-top: 8px;
}

// MENUS // 

.arrow {
   position: absolute;
   color: black;
   left: 10px;
   top: 23px;
   font-weight: bold;
}
.backGround img {
   width: 375px;
   height: 200px;
   position: relative;
   z-index: 5;
}
.menu {
   background-color: $greyBG;
   z-index: 10;
   padding-top: 25px;
   position: relative;
   top: -50px;
   border-radius: 42px 41px 0px 0px;
   max-width: 375px;
   
      .restauName {
         margin-left: 15px;
         font-family: Shrikhand;
         font-size: 25px;
         display: flex;

         .heart {
            margin-left: 70px;
            margin-top: 25px;
      }
   }
}


.course {
   @extend %menu_Course;
   @extend %dishCards;
   margin-left: 15px;
   animation: fade ease-in-out 700ms both;
}

