@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.order .order__btn, .book .btnPink {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 230px;
  height: 55px;
  padding: 15px;
  background: linear-gradient(#FF79DA, #b81ed6);
  box-shadow: inset #ffffff 0px 0px 0px 0px, grey 0px 0px 5px;
  border-color: #3a3a3a;
  border-radius: 30px;
  font-size: 18px;
  color: #ffffff;
  border-color: #3a3a3a;
  border-width: 0px;
}
.order .order__btn:hover, .book .btnPink:hover {
  background: #c9bdbd;
  background: linear-gradient(#fc69d2, #e93fb9);
  box-shadow: inset #ffffff 0px 0px 0px 0px, #c012c0 0px 0px 35px;
}

#how .how__btn--3, #how .how__btn, #how .how__box .how__btn--3 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 321px;
  height: 75px;
  padding: 16px;
  box-shadow: #d8d8d8 1px 5px 5px;
  background: linear-gradient(white, #f0f0f0);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  border-style: none;
  left: 50px;
}
#how .how__btn--3:hover, #how .how__btn:hover {
  background: linear-gradient(#fff6fc, #fddaf3);
  box-shadow: inset #ffffff 0px 0px 0px 0px, #c012c0 0px 0px 35px;
}

#how .how__btn--3, #how .how__btn, #how .how__box .how__btn--3 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-top: 30px;
  line-height: 3.5em;
}

#how .how__btn--3 .how__btn--icon, #how .how__box .how__btn--3 .how__btn--icon, #how .how__box .how__btn--icon {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;
  color: grey;
}

#restau .restau__card--new, #restau h5, #restau .heart, #restau h6 {
  z-index: 1;
  position: absolute;
  font-size: 16px;
  color: black;
}

.course .form {
  display: flex;
}
.course .form .form__line {
  width: 70%;
}
.course .form .form__line .line1 {
  padding-left: 11px;
  padding-top: 11px;
  font-weight: bold;
  font-size: 17px;
}
.course .form .form__line .line2 {
  padding-left: 11px;
  padding-top: 5px;
  font-size: 12px;
}
.course .form .price {
  width: 0%;
  padding-left: 55px;
  padding-top: 30px;
  font-weight: bold;
}

.course .course__type {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.course .course__type::after {
  content: "";
  height: 3px;
  width: 60%;
  background: #99E2D0;
  position: absolute;
  left: calc(10% - 10%);
  bottom: -5px;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
html a:link {
  text-decoration: none;
}
html a:active {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
}
header .logo {
  align-items: center;
  margin-left: 0px;
  max-width: 150px;
  max-height: 100px;
}

.gps {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-top: 10em;
  color: #3a3a3a;
}
.gps .gps__City {
  margin-left: 15px;
}

.book {
  background-color: #f7f7f7;
  margin-top: -20px;
  padding-bottom: 100px;
  font-family: "Roboto", sans-serif;
}
.book h2 {
  text-align: center;
  font-size: x-large;
  margin-top: 60px;
}
.book h3 {
  text-align: center;
  font-weight: 300;
  color: #3a3a3a;
}
.book button {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
#how h2 {
  display: flex;
  justify-content: center;
  margin-left: -6.1em;
}
#how .how__box .how__btn--num {
  left: -30px;
  position: relative;
}
#how .how__box .how__btn--icon {
  position: relative;
  left: -40px;
}
#how .how__box strong {
  position: relative;
  left: -30px;
}
#how .how__box .how__btn--3 {
  background: linear-gradient(#f5ecff, #f9f5ff);
}
#how .how__box .how__btn--3 .how__btn--icon {
  color: #9356DC;
}
#how button {
  display: block;
  margin: 0 auto;
}
#how .how__btn--num {
  width: 28px;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  border: none;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: 30px;
  margin-top: 12px;
}
#how .how__btn--3 {
  background: linear-gradient(#f5ecff, #f9f5ff);
}
#how .how__btn--3:hover {
  background: linear-gradient(#fff6fc, #fddaf3);
  box-shadow: inset #ffffff 0px 0px 0px 0px, #c012c0 0px 0px 35px;
}
#how .how__btn--3 .how__btn--icon {
  color: #9356DC;
}
#how .how__btn--txt {
  font-weight: bold;
  position: relative;
  left: -40px;
}

#restau {
  background-color: #f7f7f7;
  margin-top: 70px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#restau h2 {
  margin-left: -7.6em;
}
#restau .restau__card {
  position: relative;
  margin-top: 25px;
}
#restau .restau__card img {
  width: 320px;
  height: 206px;
  object-fit: fill;
  border-radius: 10%, 10%, 0, 0;
  line-height: 800px;
  border-top: 10px none #f7f7f7;
  border-bottom: 80px solid #f1f1f1;
  overflow: hidden;
  border-radius: 11px 11px 11px 11px;
  box-shadow: 2px 8px 8px 0px rgba(202, 202, 202, 0.75);
}
#restau .restau__card img:hover {
  background: linear-gradient(#fff6fc, #fddaf3);
  box-shadow: inset #ffffff 0px 0px 0px 0px, #f068f0 0px 0px 18px;
}
#restau h6 {
  font-weight: lighter;
  left: 10px;
  top: 215px;
}
#restau .heart {
  font-weight: bold;
  left: 280px;
  top: 235px;
  font-size: 22px;
}
#restau .full {
  opacity: 0;
  color: #9356DC;
}
#restau .full:active {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
#restau h5 {
  font-weight: bold;
  left: 10px;
  top: 200px;
}
#restau .restau__card--new {
  color: #049b3e;
  font-weight: bold;
  left: 230px;
  top: 20px;
  display: inline-block;
  width: 80px;
  height: 30px;
  border: none;
  text-align: center;
  background-color: #99E2D0;
  border-radius: 10%;
  line-height: 30px;
}

footer {
  margin-top: 40px;
  background-color: #525252;
  padding-bottom: 10px;
}
footer p {
  padding-top: 8px;
  color: white;
  font-family: Shrikhand;
  font-size: 25px;
  font-style: lighter;
  margin-left: 25px;
}
footer .contact {
  color: white;
}

li {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-left: -15px;
  list-style: none;
  margin-top: 8px;
}

.arrow {
  position: absolute;
  color: black;
  left: 10px;
  top: 23px;
  font-weight: bold;
}

.backGround img {
  width: 375px;
  height: 200px;
  position: relative;
  z-index: 5;
}

.menu {
  background-color: #f7f7f7;
  z-index: 10;
  padding-top: 25px;
  position: relative;
  top: -50px;
  border-radius: 42px 41px 0px 0px;
  max-width: 375px;
}
.menu .restauName {
  margin-left: 15px;
  font-family: Shrikhand;
  font-size: 25px;
  display: flex;
}
.menu .restauName .heart {
  margin-left: 70px;
  margin-top: 25px;
}

.course .form {
  display: flex;
}
.course .form .form__line {
  width: 70%;
}
.course .form .form__line .line1 {
  padding-left: 11px;
  padding-top: 11px;
  font-weight: bold;
}
.course .form .form__line .line2 {
  padding-left: 11px;
  padding-top: 5px;
}
.course .form .price {
  width: 0%;
  padding-left: 55px;
  padding-top: 30px;
  font-weight: bold;
}

.course .course__type {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.course .course__type::after {
  content: "";
  height: 3px;
  width: 60%;
  background: #99E2D0;
  position: absolute;
  left: calc(10% - 10%);
  bottom: -5px;
}

.menu {
  background-color: #f7f7f7;
}

.course {
  margin-left: 15px;
}
.course .course__type--plate {
  background-color: white;
  box-shadow: inset #ffffff 0px 0px 0px 0px, #cacaca 0px 0px 18px;
  border-radius: 15px;
  width: 340px;
  height: 65px;
  margin-top: 1em;
}

.order button {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
.order .order__btn {
  margin-top: 3.5em;
}

/*# sourceMappingURL=style.css.map */
